{% extends 'shared/_layout.html' %}
{% load static %}
{% block title %}
Products List
{% endblock title %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            
            <div class="col-sm-9 padding-right">
                <div class="features_items"><!--features_items-->
                    <h2 class="title text-center">products Big sell</h2>
                    {% for product in products %}
                    {% include 'product/includes/product-item.html' with product=product %}
 {% endfor %}
                    
                    
                    <div class="clearfix"></div>
                    
                    <ul class="pagination">
                        <li class="active"><a href="">1</a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">»</a></li>
                    </ul>
                </div><!--features_items-->
            </div>
            
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Categories product</h2>
                    <div class="panel-group category-products" id="accordian"><!--category-productsr-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        Category 1
                                    </a>
                                </h4>
                            </div>
                            <div id="sportswear" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="">product 1 </a></li>
                                        <li><a href="">product 2 </a></li>
                                        <li><a href="">product 3 </a></li>
                                        <li><a href="">product 4</a></li>
                                        <li><a href="">product 5</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#mens">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        Category 2
                                    </a>
                                </h4>
                            </div>
                            <div id="mens" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="">product 1 </a></li>
                                        <li><a href="">product 2 </a></li>
                                        <li><a href="">product 3 </a></li>
                                        <li><a href="">product 4</a></li>
                                        <li><a href="">product 5</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="#">product 1</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="#">product 2</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="#">product 3</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="#">product 4</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="#">product 5</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="#">product 6</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="#">product 7</a></h4>
                            </div>
                        </div>
                    </div><!--/category-productsr-->
                
                    <div class="brands_products"><!--brands_products-->
                        <h2>brands</h2>
                        <div class="brands-name">
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href=""> <span class="pull-left">(50)</span>brand 1</a></li>
                                <li><a href=""> <span class="pull-left">(56)</span>brand 2</a></li>
                                <li><a href=""> <span class="pull-left">(27)</span>brand 3</a></li>
                                <li><a href=""> <span class="pull-left">(32)</span>brand 4</a></li>
                                <li><a href=""> <span class="pull-left">(5)</span>brand 5</a></li>
                            </ul>
                        </div>
                    </div><!--/brands_products-->
                    
                    <div class="price-range"><!--price-range-->
                        <h2>Filter By Price</h2>
                        <div class="well">
                             <div class="slider slider-horizontal" style="width: 170px;"><div class="slider-track"><div class="slider-selection" style="left: 0.025%; width: 0.02%;"></div><div class="slider-handle round left-round" style="left: 0.025%;"></div><div class="slider-handle round" style="left: 0.045%;"></div></div><div class="tooltip top" style="top: -30px; left: -30.4405px;"><div class="tooltip-arrow"></div><div class="tooltip-inner">250 : 450</div></div><input type="text" class="span2" value="" data-slider-min="0" data-slider-max="1000000" data-slider-step="5" data-slider-value="[250,450]" id="sl2" style=""></div><br>
                        </div>
                    </div><!--/price-range-->
                    
                    <div class="shipping text-center"><!--shipping-->
                        <img src="{% static 'product/images/home/shipping.jpeg' %}" alt="">
                    </div><!--/shipping-->
                    
                </div>
            </div>
            
        </div>
    </div>
</section>
{% endblock content %}